.encabezado{
    height: 100px;
    width: 100%;
    background: orange;
    margin: 0px 0px 15px;
    
}

section{
    height: 390px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    height: 370px;
    width: 250px;
    background: blue;
    margin:10px;
    
}

.verde{
    height: 370px;
    width: 800px;
    background: green
}

footer{
     height: 100px;
    width: 100%;
    background: red;
    margin-top: 15px;
}